.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: blur(1px);
}

.login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px;
}

h1 {
    text-shadow: 0 0 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

input:hover {
    color: #000;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}

button {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
}

button:hover {
    background-color: #007BFF;
    color: white;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

body {
    background-image: url('https://static.vecteezy.com/system/resources/previews/021/835/780/non_2x/artificial-intelligence-chatbot-assistance-background-free-vector.jpg');
    background-size: cover;
}

input {
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}